<footer class="page-footer pink lighten-1">
  <div class="footer-copyright pink">
    <div class="container">
      All articles belong to <a href='http://www.thenewyork.times' target="_blank">NYT</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>