<footer class="page-footer black lighten-1">
  <div class="footer-copyright red">
    <div class="container">


      All articles belong to the New York Times 
      <a class="grey-text text-lighten-4 right" href="https://www.nytimes.com/">Visit NYT</a>
    </div>
  </div>
</footer>