body{
  background: url('../Image/source.gif');
  background-size: 3000px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}



#nameComment{
  
  font-weight: bold;
  background: rgb(4, 26, 122);
  color: white;
}
.articleBody{
  height: 200px;
  font-size: 20px;
  overflow-y: scroll;
  line-height: 160%;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: green;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #180872;
 box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
 color: #030825;
}
