
  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Scrape The News</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li>a herf="https://www.mongodb.com/" target="blank">Learn Mongodb</a></li>

        <li><a href="http://thenewyorktimes.com" target="_blank">Offical NYT</a></li>
      </ul>
    </div>
  </nav>