
  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Scrape The News York Times</a>
      <ul class="right" id="nav-mobile">




        <li><a href="/scrape">Scrape</a></li>
          <li><a href="https://www.mongodb.com/" target="_blank">Learn Mongodb</a></li>

        <li><a href="http://thenewyorktimes.com" target="_blank">Offical NYT</a></li>
      </ul>
    </div>
  </nav>